
html {
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #FFEADD 27.6%, #FFFBF1 96.88%), #FFF9EF no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

body {
    position: relative;
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color:#D96F6F;  
}

.icon {
    z-index: 2;
    position: fixed;
    width: 44.02px;
    height: 43.87px;
    top: 42px;
    right: 42px;

}

#container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#navbar {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.navbar-item {
    font-size: 30px;
    font-family: meno-banner, serif;
    font-weight: 300;
    color: #10248B;
    transform: rotate(-90deg);
    padding: 40px;
    margin: 20px;
    text-decoration: none;
}

.photos {
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

}

.navlink {
    text-decoration: none;
    color: #10248B;
}
.navlink:hover {
    text-decoration: underline;
    color:#D96F6F; 
    cursor: pointer;
}

.work {
    position: absolute;
    top: 10%;
    left: 20%;
    color: #10248B;
    width: 70%;
    height: 100%;
}

h2 {
    font-family: reason-new, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 69px;
    color: #10248B;
    margin-top: 0px;
    margin-bottom: 24px;
}

h4 {
    font-family: meno-banner, serif;
    font-style:normal;
    font-weight: 300;
    font-size: 30px;
    color:#D96F6F; 
    margin-top: 6px;
    margin-bottom: 6px;
}

h5 {
    font-family: reason-new, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:#10248B;
    margin-top: 0px;
    margin-bottom: 18px;
    margin-right: 72px;
}

.tags {
    font-family: reason-new, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color:#D96F6F; 
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 24px;
}

.photos {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: auto;
    justify-content: space-between;
    overflow: scroll;
    padding-bottom: 40px;
    padding-right: 80px;
}

#slider::-webkit-scrollbar {
    display: none;
    width:0;
    background:transparent;
}


.photo {
    height: auto;
    width: 100%;
    padding-bottom: 24px;
}

.figma {
   height: 100%;
   width: 600px;
   padding-right: 24px;
}

@media (max-width: 450px), (max-height: 740px) {
    .icon {
        width: 20px;
        top: 20px;
        right: 20px;
    }
    .navbar-item {
        font-size: 20px;
        margin: 10px;
        padding: 25px;
    }
    #navbar {
        left: 10%;
    }
    h2 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 12px;
    }
    h4 {
        font-size: 24px;
        line-height: 24px;
        padding-right: 10px;
    }
    h5 {
        font-size: 12px;
        margin-right: 10%;
    }
    .tags {
        font-size: 10px;
    }
    #slider {
        height: 250px;
        padding-bottom: 20px;
    }
}

.hidden {
    display: none;
}

#lightbox-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.lightbox img {
    width: 100%;
}

