
html {
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #FFEADD 27.6%, #FFFBF1 96.88%), #FFF9EF no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    position: relative;
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* a:link, a:visited, a:link {
    text-decoration: none;
    color: #10248B;
} */


#container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
}

.navbar-item {
    font-size: 30px;
    font-family: meno-banner, serif;
    font-weight: 300;
    color: #10248B;
    transform: rotate(-90deg);
    margin: 60px;
    text-decoration: none;
}

.navlink {
    text-decoration: none;
    color: #10248B;
}
.navlink:hover {
    text-decoration: underline;
    color:#993CD2; 
    cursor: pointer;
}

.reg {
    flex: 1;
    font-size: 48px;
    font-family: reason-new, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 77px;
    margin-right: 120px;
    color:#10248B;
    /*background: #10248B; */
    /*background: linear-gradient(180deg, #2A41B8 0%, #993CD2 65.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.nbjc-link {
    color: #993CD2;
    text-decoration: none;
}

.nbjc-link:hover {
    text-decoration: underline;
    color: #993CD2;
    cursor: pointer;
}

.ita {
    font-size: 48px;
    font-family: reason-new, sans-serif;
    font-weight: 600;
    font-style: normal;
}
